{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "trailingComma": "none",
  "bracketSpacing": false,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "proseWrap": "always",
  "endOfLine": "lf",
  "quoteProps": "consistent",
  "htmlWhitespaceSensitivity": "css"
}
