.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: #5f5d5d;
}

@media (max-width: 768px) {
    .header {
        width: 100%;
        margin-left: 0;
    }
}

.header .navbar-nav .nav-link {
    display: flex;
    align-items: center;
}

.header .navbar-nav .nav-link img {
    margin-right: 10px;
}

.header .badge {
    margin-left: 5px;
}
.navbar-text {
    margin-right: 10px;
    margin-left:  50px;
}